body {background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Carina_Dwarf_Galaxy.jpg");
 }
h1 {font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 500%; text-align: center; color: #00FF00}
p {font-family: Lucida; font-size:
  200%; text-align: center; width: 100%; color: #00FF00}
.a {position: relative;}
a {font-size: 200%; width: 200px; position: absolute;
  right: 0; bottom: 100px; text-decoration: none;
  font-style: Lucida; color: #FFFF00}
